{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% do assets.addCss('/user/plugins/panier/assets/css/cart_validate.css', 97) %}
{% endblock %}

{% block body %}
    <section id="body">
        <div class="cart_validate">
            <div class="cart_validate_cont">
                <h1>
                    {{ page.header.title|e }}
                </h1>
                <div class="cont">
                    {% if panier.list is empty %}
                        <div class="empty">
                            <a href="/nos-produits" class="return-button">Voir nos produits</a>
                        </div>
                    {% else %}
                        <div class="list">
                            {% for row in panier.list %}
                                <div class="row" data-product="{{ row.ref|e }}">
                                    <div class="image">
                                        <img src="{{ resizeProduct(row.photo,100,100,"validate_cart")|e }}" alt={{ row.name|e }}>
                                    </div>
                                    <div class="info">
                                        <div class="title">{{ row.name|e }}</div>
                                        <div class="more">
                                            <div class="quantity">Quantité : {{ row.quantity|e }}</div>
                                            <div class="price"><span class="label">Prix</span> {{ row.price|e|number_format(2) }}€</div>
                                            <div class="price_total"><span class="label">Total</span>{{ (row.price * row.quantity)|e|number_format(2) }}€</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="tax">
                                <div class="price-ht">
                                    <div class="label">Prix HT</div> <div class="nb">{{ panier is empty or panier.price_ht < 0 ? 0.00 : panier.price_ht|number_format(2) }}€</div> 
                                </div>
                                <div class="vat">
                                    <div class="label">TVA (20.6%)</div> <div class="nb">{{ panier is empty or panier.vat < 0 ? 0.00 : panier.vat|number_format(2) }}€</div> 
                                </div>
                                <div class="final-price">
                                    <div class="label">Prix TTC</div> <div class="nb">{{ panier is empty or panier.price_ttc < 0 ? 0.00 : panier.price_ttc|number_format(2) }}€</div> 
                                </div>
                            </div>
                            <div class="cont-buttons">
                                <a href="/panier/vider" class="clear">Vider</a>
                                <a href="/panier/pay" class="validate">Valider</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}